
@media screen and (max-width: 650px) {
    section {
      flex-direction: column;
    }
    aside{
        width: 50%;
        margin-right: 10%;
    }
    .doll{
              width: 100%;
    }
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 2em;
    }
}
