:root {
  --font-color: #000000;
  --button-color: #3eb25e;
  --button-hover-color: #ffff7d;
  --checkbox-color: #3eb25e4d;
  --checkbox-hover-color: #3eb25e;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

form {
  height: 50px;
}
textarea {
  width: 30vw;
  height: 30px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 1rem;
  resize: none;
  overflow: hidden;
}
.little-area {
  width: 50%;
}
.little-text{
  width: 50%;
}
button {
  color: #ffffff;
  width: 30vw;
  min-width: 120px;
  height: 25px;
  font-size: 1rem;
  background-color: var(--button-color);
  border: none;
  border-radius: 30px;
  margin-bottom: 5%;
}
button:hover {
  background: var(--button-hover-color);
  color: black;
  transition: 0.2s ease-in;
  cursor: pointer;
}
